body {
  background-color: lightsteelblue;
}

h1 {
  color: gray;
  font-family: "Times New Roman";
}

h3 {
  color: gray;
  font-family: "Times New Roman";
}

p {
  font-family: "Times New Roman";
}

.main {

}

.column {
  float: left;
  width: 300px;
  border: 2px black solid;
  padding: 20px;
  margin: 20px;
}

.group-std {

}

.group-sidebar {
  background-color: lightgray;
  border: 2px black solid;
  padding: 20px;
  margin-right: 20px;

}

.group-img {
  width: 300px;
  height: 300px;
  display: inline-block;
  text-align: center;
}

.sidebar {
  float: right;
  width: 20%;
}

.img-center {
  text-align: center;
}

#header-main {
  text-align: center;
}

.project {
  border: 1px lightgray solid;
}

