h1 {
  color: gray;
}

h3 {
  color: gray;
}

.group-std {

}

.group-sidebar {

}

.group-img {
  width: 300px;
  height: 300px;
  display: inline-block;
  text-align: center;
}

.sidebar {
  float: right;
  width: 250px;
}

.img-center {
  text-align: center;
}

#header-main {
  text-align: center;
}

